@import "../../common-sass/common.styles.scss";

.sign-up {
  background-color: rgb(218, 218, 255);

  a {
    text-decoration: none;
    font-size: 1.4rem;
    color: $color-black;
    font-weight: 600;

    &:hover {
      text-decoration: underline;
    }
  }
  & > :not(:last-child) {
    margin-bottom: 2rem;
  }
  h1 {
    font-size: 2.4rem;
    margin-bottom: 3rem;
  }
  h3 {
    font-size: 1.6rem;
  }
  form {
    @include flex-column;
    align-items: center;
    input,
    button {
      border-radius: $common-border-radius;
    }
    input {
      padding: 1.4rem;
      font-size: 1.6rem;
      width: 40rem;
      border: 3px solid transparent;
    }

    & > * {
      margin-bottom: 2rem;
    }
  }
  .form-btn {
    text-transform: uppercase;
    color: white;
    & {
      color: black;
    }
  }
}
