@import "../../common-sass/common.styles.scss";

.sign-up {
  // background-color: #dedcfc59;
  margin-top: 2rem;
  margin-bottom: 4rem;
  @media only screen and (max-width: 500px) {
    width: 95%;
  }
  a {
    text-decoration: none;
    font-size: 1.4rem;
    color: $color-black;

    &:hover {
      text-decoration: underline;
    }
  }
  & > :not(:last-child) {
    margin-bottom: 2rem;
  }
  h1,
  h3,
  a {
    font-weight: 500;
  }
  h1 {
    font-size: 2.4rem;
    margin-bottom: 3rem;
  }
  h3 {
    font-size: 1.6rem;
  }
  form {
    @include flex-column;
    @media only screen and (max-width: 500px) {
      width: 100%;
    }
    align-items: center;
    input,
    button {
      border-radius: $common-border-radius;
    }
    input {
      padding: 1.4rem;
      font-size: 1.6rem;
      width: 40rem;
      border: 1px solid black;
      @media only screen and (max-width: 500px) {
        width: 100%;
      }
    }

    & > * {
      margin-bottom: 1rem;
    }
  }
  .form-btn {
    text-transform: uppercase;
    color: white;
    & {
      color: black;
    }
  }
}
