@import "../../common-sass/common.styles.scss";
.pop-up {
  @include flex-center(space-between);
  display: flex;
  flex-direction: column;

  position: absolute;
  right: 2%;
  top: 130%;
  padding: 2rem 1rem 3rem;
  width: 35rem;
  height: 38rem;
  border-radius: $common-border-radius;
  background-color: $color-white;
  letter-spacing: 1px;
  z-index: 2000;
  box-shadow: 0 0 1rem $color-box-shadow;
  font-family: "Montserrat";
  font-weight: 500;
  // display: none;
  animation: profile 2s ease;

  &::before {
    @include tool-tip-after;
    position: absolute;
    bottom: 100%;
    right: 4%;
    border-width: 18px;
    border-color: transparent transparent $color-white transparent;
  }
  &::after {
    content: "";
    position: absolute;
    font-size: 2rem;
    background-color: #f5ba13;
    position: absolute;
    display: block;
    height: 100%;
    width: 0.5rem;
    top: 0;
    left: 0;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }

  & > div:not(:first-child) {
    @include flex-column;
    align-items: center;
    width: 106.5%;

    &::before {
      margin-bottom: 2rem;
      content: "";
      display: block;
      width: 100%;
      height: 0.5px;
      background-color: rgba(0, 0, 0, 0.164);
    }
  }
  h2,
  h3 {
    font-weight: 400;
  }
  h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
  h3 {
    font-size: 1.6rem;
  }
  .sign-out-btn {
    // width: 105%;
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 0.5px;
      background-color: rgba(0, 0, 0, 0.164);
    }
    &::after {
      margin-top: 2rem;
    }
  }
  .sign-out {
    // border: none;
    text-transform: uppercase;
    color: white;
    font-weight: 500;
    &:hover {
      color: black;
    }
    // margin-top: 2rem;
  }
  .user-profile {
    height: 9rem;
    width: 9rem;

    background-size: cover;
    background-position: center;
    display: block;
    border-radius: 50%;
    // border: 4px solid $color-primary;
    overflow: hidden;
    box-sizing: content-box;

    // margin-bottom: 2rem;
    &:hover {
      box-shadow: 0 0 1rem rgb(157, 255, 0);
    }
  }
}
.open-pop-up {
  display: flex !important;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.close-pop-up {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.user-overlay-btn {
  transform: translateX(-150%);
  transition: transform 1s ease-out;
  // animation: start-overlay-btn 1s ease-in;
}
@keyframes start-overlay-btn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    // transform: translateX(20%);
  }
}
.overlay-btn {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  z-index: 1000;
  position: absolute;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  left: 2%;
  top: 2%;
  border: none;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.413);

  &::before,
  &::after {
    position: absolute;
    content: "";
    width: 60%;
    height: 2px;
    background-color: black;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}
.close-user-overlay {
  opacity: 1;

  transform: translateX(20%);
  transition: transform 1s ease-in;

  span {
    position: absolute;
    height: 4rem;
    width: 0.2rem;
    background-color: black;
  }
}
.user-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  z-index: 500;
  opacity: 0.9;
}
.user-pop-up-overlay {
  transform: translateX(100%);
  transition: transform 1s ease-out;

  // animation: toLeft 1s ease;
}

@keyframes toLeft {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

// @keyframes toRight {
//   from {
//     transform: translateX(-100%);
//   }
//   to {
//     transform: translateX(0);
//   }
// }

@keyframes profile {
  0% {
    transform: translateY(-30%);
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.pop-up-2 {
  transform: translateY(-130%);
  transition: transform 1s ease-in-out;
  animation: remove-profile 1s ease;
}
.remove-overlay {
  transform: translateX(0%);
  transition: transform 1s ease-in;
}
@keyframes remove-profile {
  0% {
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-130%);
    display: none;
  }
}
