@import "../../common-sass//common.styles.scss";
.search-container {
  display: flex;
  width: 50rem;
  justify-content: center;
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
  transition: transform 1s ease;
  @media only screen and (max-width: 550px) {
    width: 15rem;

    transform: scale(0);
    border-radius: 1rem;
  }
  @media only screen and (max-width: 400px) {
    width: 10rem;
  }
  .search-icon {
    // @media only screen and (max-width: 550px) {
    //   background-color: transparent;
    //   z-index: 10;
    //   color: black;
    //   margin-right: auto;

    //   // position: absolute;
    // }
    @media only screen and (max-width: 400px) {
      // opacity: 0;
      // visibility: hidden;
      // user-select: none;
    }
  }
  label {
    @include flex-center(center);
    background-color: $color-secondary;
    padding: 1rem;
    cursor: pointer;

    svg {
      @media only screen and (max-width: 500px) {
        fill: black;
      }
    }
  }
  .checkbox {
    visibility: hidden;
    opacity: 0;

    &:checked ~ .search-box {
      transform: scale(1);
      left: 0.8%;
      border-radius: 0.5rem;
      z-index: 10000;
      height: 5.5rem;
      top: 10%;
      width: 98%;
      padding: 0 2rem;
      // position: relative;
    }
  }
  .search-box {
    font-size: 1.6rem;
    padding: 1.4rem 0.7rem;
    border: none;
    outline: none;
    background-color: $color-secondary;
    width: 95%;
    transition: transform 1s ease;
    transform-origin: left;

    &::placeholder {
      color: $color-grey;
    }
  }
}
.key-btn {
  @include key;

  padding: 0.2rem 1.6rem !important;
  position: absolute;
  right: 2%;
  top: 20%;
  border-radius: 0.5rem;
  align-self: center;
  transition: all 1s ease;
  &:hover,
  &:focus {
    transform: translateY(2px) !important;
  }
  @media only screen and (max-width: 550px) {
    display: none !important;
    // right: 6%;
    // font-size: 1.4rem;
    // padding: 0.2rem 1.2rem !important;
  }
  // @media only screen and (max-width: 400px) {
  //   right: 1%;
  //   font-size: 1rem;
  //   padding: 0.3rem 1rem !important;
  //   top: 25%;
  // }
}
