@import "../../common-sass//common.styles.scss";

header {
  @include flex-center(space-between);
  // justify-content: space-between;
  background-color: $color-primary;
  position: relative;

  padding: 1rem 4rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  @media only screen and (max-width: 500px) {
    padding: 1rem 2rem;
  }
  .logo {
    color: $color-black;
    font-size: 3.2rem;

    font-family: "Leckerli One";
    text-decoration: none;
  }
}
.checkbox {
  // opacity: 0;
  display: none;

  &:checked ~ .theme-btn > .toggle-thumb {
    transform: translateX(30px);
  }
}

.grid-btn-text,
.theme-btn-text,
.toggle-btn-text {
  font-family: "Montserrat";
  @include tool-tip;
  top: 132%;
  left: 78%;
  &::after {
    @include tool-tip-after;
    bottom: 100%;
    left: 50%;
    border-color: transparent transparent $color-grey transparent;
  }
}
