@import "../../common-sass//common.styles.scss";
nav {
  @include flex-center(center);
  font-size: 2rem;
  & > :not(:last-child) {
    margin-right: 5rem;
    @media only screen and (max-width: 550px) {
      margin-right: 3rem;
    }
    @media only screen and (max-width: 400px) {
      margin-right: 1rem;
    }
  }
  a {
    color: $color-black;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
  }

  .img-container {
    display: flex;
    margin-left: 4rem;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
  }
  .dots,
  .grid-btn {
    @include flex-center(center);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    cursor: pointer;
    position: relative;
    &:hover {
      background-color: #f7f7f74f;
    }
  }
  .dots {
    display: none;
    @media only screen and (max-width: 550px) {
      flex-direction: column !important;
      margin-right: 0 !important;
      display: flex !important;

      & span {
        width: 0.7rem;
        height: 0.7rem;
        border-radius: 10rem;
        background-color: black;
      }
      & span:not(:last-child) {
        margin-bottom: 0.4rem;
      }
    }
  }
  .grid-btn {
    @media only screen and (max-width: 550px) {
      display: none;
    }

    &-text {
      width: 9rem;
    }

    &:hover .grid-btn-text {
      visibility: visible;
      opacity: 1;
    }
  }
}
.big-theme {
  @media only screen and (max-width: 550px) {
    display: none !important;
  }
}
