.task-adder {
  align-self: center;
  position: relative;
  z-index: 400;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 1rem #2928283d;
  width: 55rem;
  border-radius: 0.5rem;
  overflow: hidden;

  .flex {
    display: flex;
    flex-direction: column;
  }
  input[type="text"] {
    padding: 1.4rem;
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.6rem;
  }
  button,
  .file {
    display: flex;
    align-items: center;
    border: none;
    padding: 0 2rem;
    background-color: white;
    cursor: pointer;
  }

  .task-menu {
    display: flex;
    background-color: white;
    justify-content: space-between;
    padding: 0 0.6rem 0.6rem 1rem;
    div {
      display: flex;
    }
    .close-btn {
      font-size: 1.6rem;
      padding: 1rem 3rem;
      border-radius: 0.5rem;
      &:hover {
        // border-radius: 50%;
        background-color: #e7e7e761;
      }
      //   display: none !important;
    }
    div {
      align-items: center;
      span {
        margin-right: 1rem;
      }
      span,
      label {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 4rem;
        width: 4rem;
        padding: 0 0.6rem;
        &:hover {
          border-radius: 50%;
          background-color: #e7e7e761;
        }
      }
    }
  }
  .add-none {
    display: none !important;
  }
  .add-flex {
    display: flex !important;
  }
}
.remove-flex {
  flex-direction: column;
}
.input-width {
  width: 100% !important;
}

.close-taskbar {
  font-size: 1.6rem;
  display: block !important;
  padding: 1rem 3.2rem;
  border-radius: 0.5rem;

  &:hover {
    background-color: #e7e7e761;
  }
}
.abs-btn {
  height: 5.5rem;
  width: 5.5rem;
  position: absolute;
  top: 1%;
  right: 1%;
  &:hover {
    background-color: #e7e7e761;
    border-radius: 50%;
  }
}
.abs-file {
  height: 4rem;
  width: 4rem;
  position: absolute;
  bottom: 4%;
  padding: 0 !important;
  display: flex;
  justify-content: center;
  left: 10%;
  &:hover {
    border-radius: 50%;
    background-color: #e7e7e761;
  }
}
