@import "../../common-sass/common.styles.scss";

.social-btn {
  @include flex-center(center);
  font-size: 2.4rem;
  border: none;
  height: 5rem;
  width: 5rem;
  border: 0.5px solid $color-box-shadow;

  &:not(:last-child) {
    margin-right: 3rem;
  }

  border-radius: 50%;
  cursor: pointer;

  &:hover {
    border: none;
    background-color: #c7c7c7;
  }
}
.sign-in {
  background-color: rgb(222, 220, 252);
  @media only screen and (max-width: 500px) {
    width: 90%;
    margin-top: 2rem;
    margin-bottom: 4rem;
  }
  & > * {
    margin-bottom: 2.4rem;
  }
  h1 {
    font-size: 3rem;
  }
  h3 {
    font-size: 1.4rem;
  }
  a {
    color: black;
    font-weight: 600;
    font-size: 1.4rem;
    &:hover {
      text-decoration: underline;
    }
  }
  div {
    display: flex;
  }
  .input-container {
    flex-direction: column;
  }
  .sign-in-form {
    @include flex-column;
    align-items: center;
    & > * {
      margin-bottom: 2rem;
    }
    @media only screen and (max-width: 500px) {
      width: 100%;
    }

    input {
      font-size: 1.6rem;
      color: #444;
      width: 40rem;
      padding: 1.4rem;
      border-radius: $common-border-radius;

      border: 3px solid transparent;
      @media only screen and (max-width: 500px) {
        width: 100%;
      }
    }
  }
}
