@import "../../common-sass/common.styles.scss";
.edit-btn,
.del-btn {
  color: white;
  background-color: #999;
  border: none;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;

  @include flex-center(center);
  cursor: pointer;
  font-weight: 200;

  position: relative;
  transition: background-color 0.3s;
}
.edit-btn-text,
.del-btn-text {
  @include tool-tip;
  font-family: "Montserrat";
  width: 12rem;
  top: 120%;
  left: 50%;
  &::after {
    @include tool-tip-after;
    bottom: 100%;
    left: 50%;

    border-color: transparent transparent $color-grey transparent;
  }
}

.edit-btn:hover .edit-btn-text,
.del-btn:hover .del-btn-text,
.toggle-btn .toggle-btn-text {
  opacity: 1;
  visibility: visible;
}
.edit-btn:hover,
.del-btn:hover {
  background-color: rgba(153, 153, 153, 0.822);
}

.save-btn {
  padding: 0.8rem 2rem;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  cursor: pointer;
}
