.checkbox-overlay {
  display: none;
  @media only screen and (max-width: 900px) {
    position: absolute;

    height: 100%;
    width: 100%;

    // background-color: black;
    // opacity: 0.8;
    transition: bottom 2s ease;
    // display: none;
    // z-index: 1000;
  }
}
.checkbox-up {
  // animation: top;
  // animation-timing-function: ease;
  // // animation-delay: 1s;
  // animation-direction: reverse;
  // animation-duration: 3s;
  display: none;
  // top: 0;
  // bottom: 0;
  // transition: bottom 2s ease;
}
@keyframes top {
  0% {
    top: 0%;
  }
  100% {
    bottom: 100%;
  }
}
