@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import "./common-sass/common.styles.scss";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  @media only screen and (max-width: 550px) {
    font-size: 56.25%;
  }
}
body {
  overflow-x: hidden;
  position: relative;
  @include scroll-bar;
}
.bg-white {
  font-family: "Montserrat", sans-serif;
  background: #eee;
  color: #000;
  position: relative;
}
.bg-black {
  background-color: #474747;
  position: relative;
}
.btn {
  font-size: 1.6rem;
  padding: 1.2rem 6.4rem;
  cursor: pointer;
  background-color: $color-primary;
  border: 3px solid $color-primary;
  border-radius: $common-border-radius;

  &:hover {
    border: 3px solid $color-primary !important;
    background-color: transparent;
  }
}
p {
  line-height: 1.7;
}
a {
  text-decoration: none;
}
.sign-in-page,
.sign-up-page {
  @include flex-center(center);
}
.sign-in,
.sign-up {
  @include flex-column;
  align-items: center;
  margin-top: 6rem;

  padding: 3rem 2.5rem 1rem;
  border-radius: $common-border-radius;
  box-shadow: 0 0 1rem $color-box-shadow;
}
