@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.bg-white {
  font-family: "Montserrat", sans-serif;
  background: #eee;
  color: #000;
  position: relative;
}
.bg-black {
  background-color: #474747;
  color: #0fa70dee;
  position: relative;
}
.form-btn {
  font-size: 1.6rem;
  padding: 1.2rem 6.4rem;
  cursor: pointer;
  background-color: #f5ba13;
  border: 3px solid #f5ba13;
  border-radius: 0.5rem;

  &:hover {
    background-color: transparent;
  }
}
p {
  line-height: 1.7;
}
a {
  text-decoration: none;
}
